submit {
  border: 0px;
  background-color: white;
}
input {
  border: 0px;
}
#textarea {
width: 400px;
height: 100px;
border: 0px
}
html, body {
background-color: #282C35;
color: white;
margin: 0px;
overflow-x: hidden;
}
.title {
font-family: 'Roboto', sans-serif;
font-size: 30px;
text-align: center;
}
#submit {
  padding: 10px;
  border-radius: 2px;
}
#return {
text-decoration: none;
color: #C4C4C4;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none !important;
}
