submit {
  border: 0px;
  background-color: white;
}
input {
  border: 0px;
}
html, body {
background-color: #282C35;
color: white;
margin: 0px;
overflow-x: hidden;
}
.title {
font-family: 'Roboto', sans-serif;
font-size: 30px;
text-align: center;
}
#submit {
  padding: 10px;
  border-radius: 2px;
}
#return {
text-decoration: none;
color: #C4C4C4;
}
