html,body {
  background-color: #282C35;
  color: white;
  margin: 0px;
  height: 100%;
}

#profileSidebar {
  text-align: center;
  background-color: #3c4049;
  width: 250px;
  padding: 20px;
  height: 100vh;
  display: inline-block;
  height: 100%;
}
#username {
  font-size: 30px;
}
#profileBody {
  background-color: #3c4049;
  display: inline-block;
  width: 1000px;
  height: 100vh;
  padding-top: 160px;
}

p {
text-align: left;
}
#eskills {
font-family: 'Roboto', sans-serif;
font-size: 30px;
top: 30px !important;
position: relative;
}
#skillwrapper {
top: 50px;
position: relative;
}
.title {
font-family: 'Roboto', sans-serif;
font-size: 30px;
}
.achvtitle {
font-family: 'Roboto', sans-serif;
font-size: 20px;
}

#addNewAchv:hover + #newAchvLink {
opacity: 1;
}
#newAchvLink {
transition: opacity 3s ease-out;
opacity: 0;
}
#addNewLink {
text-decoration: none;
color: #C4C4C4;
}
#seeAll {
text-decoration: none;
color: #C4C4C4;
}
.summaryTab {
padding: 10px;
border-radius: 2px;
background-color: black;
width: 100px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none !important;
}
