.results {
  background-color: #36393E;
  width: 100%;
  text-align: center !important;
  padding-bottom: 30px;
  padding-top: 10px;

}
a {
  text-decoration: none;
  color: #C4C4C4;
}
#logo {
  top:40%;
  right: 33%;
}
html,body {
  background-color: #282C35 !important;
  color: white;
  margin: 0px;
}
input {
  background-color: #282C35;
}
#rat {
  background-color: white !important;
  border: 0px;

  top: 50%;
  right:30%;
  padding: 20px;
}
#bug {
  border: 0px;
  background-color: white;

  top: 50%;
  padding: 20px;
  width:300px;
}


html,body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  text-decoration: none !important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none !important;
}
